.header{
  font-family: Arial;
  display: flex;
  flex-direction: row;
  height: 70px;
  justify-content: space-between;
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: 1px solid rgb(192, 192, 192);
  z-index: 100;
}

.left-section{
  display: flex;
  align-items: center;
  justify-content: center;

}

.shoe-shop-logo{
  height: 70px;
  width: 100px;
  border-radius: 30px;
  object-fit: cover;
  cursor: pointer;
}

.shoes-list,
.authenticate,
.logout,
.create-shoe{
  margin-left: 30px;
  font-size: 20px;
}


.shoes-list a,
.authenticate a,
.logout a,
.create-shoe a{
  text-decoration: none;
  color: black;
}

.shoes-list::marker,
.authenticate::marker,
.logout::marker,
.create-shoe::marker{
  content: none;
}

.right-section{
  flex: 1;
  margin-left: 70px;
  max-width: 460px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar{
  height: 40px;
  padding-left: 8px;
  border-radius: 2px;
  font-size: 16px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.15);
}

.search-btn{
  height: 40px;
  width: 60px;
  color: rbg(240, 240, 240);
  margin-left: -1px;
  border: 1px solid rgb(192, 192, 192);
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  transition: background-color 0.15s;
}

.shopping-cart-button{
  height: 40px;
  width: 40px;
  border-radius: 20px;
  border: none;
  box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.15);
  margin-left: 20px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.search-btn:hover,
.shopping-cart-button:hover{
  background-color: rgb(220, 220, 220);
}


