<nav class="header">
  <div class="left-section">
    <a routerLink="/shoes">
      <img
      class="shoe-shop-logo"
      src="https://media.istockphoto.com/id/1362933313/vector/sports-basketball-shoes-design-vector-illustration.jpg?s=612x612&w=0&k=20&c=B6FNXUkkoOaAM6zXOIkHPiYWD0iUhUKXZraiR3uYW-k=">
    </a>
    <li class="shoes-list" *ngIf="isAuthanticated">
      <a routerLink="/shoes">Shoes</a>
    </li>
    <li class="authenticate" *ngIf="!isAuthanticated">
      <a routerLink="/auth">Authenticate</a>
    </li>
    <li class="create-shoe" *ngIf="isAuthanticated">
      <a routerLink="/create">Create Shoe</a>
    </li>
  </div>
  <div class="right-section">
    <input class="search-bar" type="text" placeholder="Search..." #inputSearch>
    <button class="search-btn" (click)="onSearch(inputSearch)">
      <fa-icon style="font-size: 16px;" [icon]="faMagnifyingGlass"></fa-icon>
    </button>
    <button class="shopping-cart-button" routerLink="/cart">
      <fa-icon style="font-size: 16px;" [icon]="faCartShopping"></fa-icon>
    </button>
    <li class="logout" *ngIf="isAuthanticated">
      <a (click)="onLogout()">Logout</a>
    </li>
  </div>
</nav>
