.shoe-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 80px;
  margin-right: 30px;
}

@media(max-width: 700px){
  .shoe-grid{
    grid-template-columns: 1fr 1fr;
  }
}


@media(min-width: 1000px){
  .shoe-grid{
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

@media(min-width: 701px) and (max-width: 999px){
  .shoe-grid{
    grid-template-columns: 1fr 1fr 1fr;
  }
}


