.shoe-details-container{
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(226, 226, 226);
  justify-content: center;
  align-items: center;
  font-family: Arial;
  margin-right: 50px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
  border-radius: 4px;
}

.img-container{
  max-width:100%;
  max-height:100%;
}


.img-container,
.shoe-info-container{
  flex: 1;
  resize: both;
}


p{
  display: inline-block;
}

label{
  font-size: 18px;
}

.shoe-image{
  height: 400px;
}

.shoe-name-container,
.shoe-price-container,
.shoe-desc-container{
  margin-bottom: 25px;
}

.shoe-name,
.shoe-price,
.shoe-description{
  font-size: 18px;
  margin-left: 10px;
}

.buttons{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.edit-btn,
.delete-btn{
  margin-top: 25px;
  background-color: rgb(241, 80, 72);
  color: white;
  border: none;
  border-radius: 25px;
  padding: 10px 40px 10px 40px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.15s;
}

.edit-btn:hover,
.delete-btn:hover{
  background-color: rgb(187, 64, 58);
}

.delete-btn{
  margin-left: 15px;
}
